# **M1 - CSB**
# **TP 10 - Pandas**


***

[**Notions et exercices**](#notions)

1. [Définir une DataFrame](#1)
2. [Series et DataFrames](#2)
3. [Principaux attributs](#3)
4. [Opérations classiques](#3)

In [118]:
import pandas as pd 
# grâce à la mention "as pd" 
# on écrira pd.function au lieu de pandas.function

<a id='1'></a>
## 1. Définir une DataFrame
***

- A partir de listes

In [126]:
l1 = ["Jean", 25, "Paris"]
l1 = ["Max", 35, "Marseille"]
l1 = ["Henri", 34, "Nantes"]
df = pd.DataFrame([l1, l2, l3], columns=["prenom", "age", "ville"])
df.to_dict(orient='records')

[{'prenom': 'Henri', 'age': 34, 'ville': 'Nantes'},
 {'prenom': 1, 'age': 2, 'ville': 3},
 {'prenom': 1, 'age': 2, 'ville': 3}]

- A partir d'un dictionnaire

In [129]:
d = {'prenom': {0: 'Henri', 1: 1, 2: 1},
 'age': {0: 34, 1: 2, 2: 2},
 'ville': {0: 'Nantes', 1: 3, 2: 3}}

df = pd.DataFrame.from_dict(d)
df

  prenom  age   ville
0  Henri   34  Nantes
1      1    2       3
2      1    2       3

- De liste de dictionnaires

In [130]:
l = [{'prenom': 'Henri', 'age': 34, 'ville': 'Nantes'},
 {'prenom': 1, 'age': 2, 'ville': 3},
 {'prenom': 1, 'age': 2, 'ville': 3}]
df = pd.DataFrame(l)
df

  prenom  age   ville
0  Henri   34  Nantes
1      1    2       3
2      1    2       3

- A partir d'un fichier csv

In [134]:
df = pd.read_csv("data/diamonds.csv")

- Depuis une adresse url

## 2. Series et DataFrames

- Une DataFrame peut ête vue comme un ensemble de colonnes ou de lignes
- Dans tous les cas, ce sont des séries

In [136]:
type(df["carat"])

pandas.core.series.Series

In [141]:
type(df.iloc[0])

pandas.core.series.Series

In [ ]:
df.carat

## 3. Principaux attributs

In [137]:
df.shape

(53940, 11)

In [138]:
df.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [139]:
df.index

RangeIndex(start=0, stop=53940, step=1)

## 5. Opérations classiques

In [ ]:
df.color.unique


df.color.nunique()

In [ ]:
df.sort_values("carat")


df.value_countst

## Itérer sur une série ou une dataframe

In [ ]:
for _, idx in df.iterrows():
    
    
df.carat.map()    

# subset
df[[]].applymap()

df.apply()

## Groupby

In [143]:
# aggréger built-in


# aggréger avec un dictionnaire d'aggrégation

## Join